html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
.top{
  background-color: red;
  position: relative;
  padding:.5em;
}
.medallion{
  width: 66px;
  position: relative;
  display: block;
  top:40px;
  margin: 0 auto;
}
h1{
  position: relative;
  display: block;
  text-align:center;
  bottom: 1.5em;
  color: white;

}
.main{
  position: relative;
  margin: 0 auto;
  text-align:center;
  color: white;
  bottom: 1.5em;
  display: block;
}
.ul{
  background-color: black;
  padding:4em;
  list-style-type: none;
  margin: 0 auto;
}
.first{
  float:right;
  clear:right;
}
.second{
  float:left;
  clear: left;
}
.firstrow{
  float: right;
  text-decoration: none;
  color: white;
  text-align: right;
  clear: right;
  position: relative;
  display: block;
  margin: 0 auto;
}
.second{
  float:left;
  clear:left;
  text-decoration: none;
  color: white;
  position:relative;
  display: block;
  margin: 0 auto;
  padding: .2em;
  margin-left: 0;
  text-align: left;
}
a:hover{
  color:red;
}
.banner{
  width:100%;
}
.Shen{
  position: absolute;
  bottom: 2.5em;
  color:white;
  text-align: center;
  width: 100%;
  font-style: italic;
  position:relative;
}
