html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
.top{
  background-color: #e7001d;
  position: relative;
  padding:.5em;
}
.medallion{
  width: 66px;
  position: relative;
  display: block;
  top:40px;
  margin: 0 auto;
}
h1{
  position: relative;
  display: block;
  text-align:center;
  bottom: 1.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.main{
  position: relative;
  margin: 0 auto;
  text-align:center;
  color: white;
  bottom: 1.5em;
  display: block;
  font-family: 'Montserrat', sans-serif;
}
.ul{
  background-color: #222222;
  padding:4em;
  list-style-type: none;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.first{
  float:right;
  clear:right;
  margin:0;
}
.sec{
  float:left;
  clear: left;
  margin: 0;
}
.firstrow{
  float: right;
  text-decoration: none;
  color: white;
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-family: 'Libre Baskerville', serif;
  padding:0;
}
.second{
  float:left;
  clear:left;
  text-decoration: none;
  color: white;
  position:relative;
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}
a:hover{
  color:red;
}
.banner{
  width:100%;
}
.Shen{
  position: absolute;
  bottom: 2.5em;
  color:white;
  text-align: center;
  width: 100%;
  font-style: italic;
  position:relative;
  font-family: 'Montserrat', sans-serif;
}
.dragon{
  text-align: center;
  background-color: #e4c22a;
  width: 100%;
  display:block;
  padding-bottom: 1em;
  padding-top: 1em;
}
.dsign{
  float:left;
  clear:left;
  width:50%
}
.dsymbol{
  float:right;
  width: 50%;
}
.pp{
  font-family: 'Libre Baskerville', serif;
}
.ppp{
  text-align:center;
  font-family: 'Libre Baskerville', serif;
}
p{
  clear:both;
  color:black;
  font-family: 'Libre Baskerville', serif;
}
.whiteh2{
  text-align: center;
  background-color: #222222;
  width: 100%;
  display:block;
  padding-bottom: 1em;
  padding-top: 1em;
}
.goat{
  text-align:center;
  color: white;
}
.gsymbol{
  float:left;
  clear:left;
  width: 50%;
}
.gsign{
  float:right;
  clear:right;
  width:50%;
}
.pppp{
  clear:both;
  color:white;
  font-family: 'Libre Baskerville', serif;
}
.rooster{
  text-align: center;
  background-color: #e7001d;
  width: 100%;
  display:block;
  padding-bottom: 1em;
  padding-top: 1em;
  color:white;
}
.rsymbol{
  float:left;
  clear:left;
  width: 50%;
}
.rsign{
  float:right;
  clear:right;
  width:50%;
}
.ox{
  text-align: center;
  background-color: #e4c22a;
  width: 100%;
  display:block;
  padding-bottom: 1em;
  padding-top: 1em;
  color:black;
}
.osign{
  float:left;
  clear:left;
  width:50%;

}
.osymbol{
  float:right;
  clear:right;
  width: 50%;
}
footer{
  width: 100%;
  background-color: #222222;
  display:block;
  padding:2em;
  text-align:center;

}
.bottom{
  color:white;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}
